body {
    font-family: Arial, Helvetica, sans-serif;
}
#header {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: rgb(4, 49, 87);
    justify-content: space-between;
}
#logo {
    width: 60px;
    height: 60px;
    padding: 5px;
}
#title {
    font-size: 25px;
    color: white;
    padding-right: 10px;
}


/* MAIN CONTAINER */
#main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20px 350px 100px;
    justify-items: center;
}
.player-info {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end:3;
    font-size: 30px;
    margin: auto;
}
#new-round-btn {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end:4;
    font-size: 18px;
    height: 50px;
    width: 125px;
}
#reset-btn {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end:4;
    font-size: 18px;
    height: 50px;
    width: 125px;
}
#modal-btn:hover {
    cursor: pointer;
}
/* GAME BOARD */
#game-board-container {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
}
#space00 {
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;  
}
#space01 {
    border: 1px solid black;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;   
}
#space02 {
    border: 1px solid black;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px; 
}
#space10 {
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px; 
}
#space11 {
    border: 1px solid black;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px; 
}
#space12 {
    border: 1px solid black;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px; 
}
#space20 {
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px; 
}
#space21 {
    border: 1px solid black;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px; 
}
#space22 {
    border: 1px solid black;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px; 
}
/* MODAL */
.modal {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 250px; 
  }
  .modal-content {
    text-align: center;
    border: 1px solid black;
    position: relative; 
    background-color: white;
    margin: auto; 
    width: 100%;
    height: 100%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  .close-btn {
    float: right; 
    color: lightgray; 
    font-size: 24px;  
    font-weight: bold;
  }
  .close-btn:hover {
    cursor: pointer;
  }
  
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }